.movies {
    display : flex;
    flex-wrap: wrap;
    padding: 15px;
}

h2{
    padding: 10px,
}

.card{
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform-origin:center top;
    transform-style: preserve-3d;
    transform:translateZ( 0 ),
}

