.movies {
    display : flex;
    flex-wrap: wrap;
    padding: 15px;
}

h2{
    padding: 10px,
}

.movies div{
    margin: 20px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform-origin:center top;
    transform-style: preserve-3d;
    transform:translateZ( 0 );
    transition: 0.5s;
    cursor: pointer;
}
.movies div:hover{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(129, 141, 225);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 252, 252, 0.22);
  }

